@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  background-color: rgba(42, 43, 42, 0.904);
  
}

ul {
  display: flex;
  padding: 2px;
  list-style: none;
}
 li {
   margin-left: 20px; 
 }
 a {
   color: rgb(43, 1, 43);
   text-decoration: none;
 }

 .product{
   padding: 0.8rem;
   background-color: rgba(228, 228, 15, 0.904);
   text-align: center;
   color: rgb(43, 1, 43);
   width: 50%;
   /* height: 2.6rem; */
   border: 0.3rem solid rgb(43, 1, 43);
   border-radius: 1.7rem;
   margin: auto;

 }
 .btn{
  font-family: 'Syne Mono', monospace;
  padding: 0.8rem;
  background-color: rgba(228, 228, 15, 0.904);
  text-align: center;
  color: rgb(43, 1, 43);
  /* width: 50%; */
  /* height: 2.6rem; */
  border: 0.3rem solid rgb(43, 1, 43);
  border-radius: 1.7rem;
  

 }

.product_mt{
  margin-top: 3rem;
}
.logo {
  border: 0.3rem solid rgb(43, 1, 43);
   border-radius: 1.7rem;
  width: 10rem;
  height: 10rem;
}

 .Shop a {
   color: rgb(43, 1, 43);
 }

 .green{
   color: green;
 }

 .contact{
   display: flex;
   justify-content: space-around;
 }

 .title{
   font-size: 3rem;
  font-family: 'Syne Mono', monospace;
 }